%h1 Unpublished articles
%table
	%tr
		%th Title
		- @articles.each do |article|
			%tr
			%td= article.title
			%td= link_to t('Edit'), staff_content_editor_article_path(article)
			%td= link_to t('Publish'), articles_path(article)